<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✅</text></svg>">
</head>

<body class="bg-gradient-to-r from-purple-900 to-blue-900 text-white font-sans">
  <div class="flex items-center justify-around h-screen">
    <% if (messages && messages.error) { %>
      <div class="alert alert-danger">
        <%= messages.error %>
      </div>
      <% } %>


        <div class="bg-gray-800 p-8 rounded shadow-md max-w-md w-full">
          <h2 class="text-3xl font-semibold mb-4 text-center">Register</h2>
          <form action="/register" method="POST" class="space-y-4">
            <div>
              <label for="username" class="block mb-1">Username</label>
              <input type="text" id="username" name="username" placeholder="Enter your username"
                class="w-full px-3 py-2 bg-gray-700 border rounded focus:outline-none focus:border-purple-500 text-white">
            </div>
            <div>
              <label for="password" class="block mb-1">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter your password"
                class="w-full px-3 py-2 bg-gray-700 border rounded focus:outline-none focus:border-purple-500 text-white">
            </div>
            <div>
              <label for="secret" class="block mb-1">Secret</label>
              <input type="text" id="secret" name="secret" placeholder="Enter your secret"
                class="w-full px-3 py-2 bg-gray-700 border rounded focus:outline-none focus:border-purple-500 text-white">
            </div>
            <div>
              <button type="submit"
                class="w-full bg-purple-500 hover:bg-purple-600 text-white rounded px-4 py-2">Register</button>
            </div>
          </form>
        </div>
        <div class="bg-gray-800 p-8 rounded shadow-md max-w-md w-full">
          <h2 class="text-3xl font-semibold mb-4 text-center">Login</h2>
          <form action="/login" method="POST" class="space-y-4">
            <div>
              <label for="username" class="block mb-1">Username</label>
              <input type="text" id="username" name="username" placeholder="Enter your username"
                class="w-full px-3 py-2 bg-gray-700 border rounded focus:outline-none focus:border-purple-500 text-white">
            </div>
            <div>
              <label for="password" class="block mb-1">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter your password"
                class="w-full px-3 py-2 bg-gray-700 border rounded focus:outline-none focus:border-purple-500 text-white">
            </div>

            <div>
              <button type="submit"
                class="w-full bg-purple-500 hover:bg-purple-600 text-white rounded px-4 py-2">Login</button>
            </div>
          </form>
        </div>
  </div>

</body>

</html>